---
BasedOnStyle: Chromium
---
Language: Cpp
AccessModifierOffset: -2
AlignAfterOpenBracket: AlwaysBreak
AllowShortCaseLabelsOnASingleLine: true
BraceWrapping:
  AfterFunction: true
  AfterNamespace: true
BreakBeforeBraces: Custom
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '<([A-Za-z0-9\Q/-_\E])+>'
    Priority: 3
  - Regex: '<([A-Za-z0-9.\Q/-_\E])+>'
    Priority: 2
  - Regex: '"([A-Za-z0-9.\Q/-_\E])+"'
    Priority: 1
IndentWidth: 4
PointerAlignment: Right
